.example-full-width {
  width: 100%;
}

.banner {
  min-width: 150px;
  display: flex;
}
  
.center-me {
  margin: auto;
}

table {
  width: 100%;
}

.labelissues {
  font-size: medium;
  color: #16bf6e;
  display: inline;
  font-family: verdana, sans-serif;
  padding: 2px;
  border-color: #212121; 
  background-color: #212121;
}

.label {
  color: white;
  display: inline-block;
  font-family: verdana, sans-serif;
  padding: 4px;
}
/*critical*/
.critical {
  border-color: #FF0039;
  background-color: #FF0039;
}
/*high*/
.high {
  border-color: #FF7518;
  background-color: #FF7518;
} 
/*medium*/
.medium {
  color: #000;
  border-color: #F9EE06; 
  background-color: #F9EE06;
} 
/*low*/
.low {
  border-color: #3FB618; 
  background-color: #3FB618;
} 
/*information*/
.info {
  border-color: #2780E3; 
  background-color: #2780E3;
} 

.card-container-right {
  display: flex;
  float: right;
  margin-left:-8px;
}
  
.card-container-left{
  display: inline;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    display: inline;
}
.mat-expansion-panel-header-description {
  margin-top: 6px;
}

.valign-center {
  display: inline-block;
  vertical-align: text-top;
  align-items: start;
  color: #fff;
}

.valign-issues-center {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.mat-column-date {
  min-width: 20%;
}

.mat-column-desc {
  min-width: 80%;
}

.mat-column-settings {
  text-align: right;
  justify-content: flex-end;
  min-width: 80px;
  max-width: 100px;
}

.example-tags-list {
  width: 100%;
}

.example-tab-icon {
  margin-right: 8px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 0px;
  width: 30px;
  height: 30px;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
}

.mat-mdc-table-sticky {
  border-top: 1px solid #595959;
}

::ng-deep .ngx-charts { 
  text{
      fill: #fff!important; 
  }
}

::ng-deep.special-date {
  border-color: #FF0039!important;
  background-color: #FF0039!important;
  opacity: 0.6;
  border-radius: 100%;
  border-width: 0px;
}

::ng-deep.special-date-high {
  border-color: #FF7518!important;
  background-color: #FF7518!important;
  opacity: 0.6;
  border-radius: 100%;
  border-width: 0px;
}

::ng-deep.special-date-medium {
  border-color: #F9EE06!important;
  background-color: #F9EE06!important;
  opacity: 0.6;
  color: #000!important;
  border-radius: 100%;
  border-width: 0px;
}

::ng-deep.special-date-low {
  border-color: #3FB618!important;
  background-color: #3FB618!important;
  opacity: 0.6;
  border-radius: 100%;
  border-width: 0px;
}

::ng-deep.special-date-info {
  border-color: #2780E3!important;
  background-color: #2780E3!important;
  opacity: 0.6;
  border-radius: 100%;
  border-width: 0px;
}

::ng-deep.success-date {
  border-color: #18ad3d58!important;
  background-color: #18ad3d58!important;
  opacity: 0.6;
  border-radius: 100%;
  border-width: 0px;
}

::ng-deep.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
  margin-top: 1px!important;
}


::ng-deep.legend-item:hover {

  color: #16bf6e!important;
}

mat-paginator {
  display: flex;
  justify-content: center;
}

::ng-deep code {
  font-family: Consolas, "Courier New", Courier, monospace;
  font-size: 15px;
  background-color: black;
  display: block;
  white-space: inherit;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding-left: 5px;
  border-left: 12px solid #16bf6e;
  border-radius: 5px;
}

.youhaveunsavedchanges {
  padding-top: 4px!important;
}