/* sixth example */
.equal-height-container {
    min-width: 150px;
    margin: 0 auto;
    display: flex;
  }
  
  .first {
    flex: 1;
  }
  
  .second {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  
  .second-a {
    flex: 1;
  }
  
  .second-b {
    flex: 1;
  }

  .example-full-width {
    width: 100%;
  }

  .banner {
    min-width: 150px;
    display: flex;
  }
  
  .center-me {
    margin: auto;
  }

  table {
    width: 100%;
  }


  .call-outs-container-researcher {
    max-width: 1400px;
    margin: 0px auto 0 auto;
  }
  
  .call-out-researcher {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  @media (min-width: 900px) {
    .call-outs-container-researcher {
      display: flex;
      justify-content: space-between;
    }
  }

  .call-outs-container-report-stats {
    max-width: 1400px;
    margin: 0px auto 0 auto;
  }
  
  .call-out-report-stats {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    height: 350px;
  }

  @media (min-width: 900px) {
    .call-outs-container-report-stats {
      display: flex;
      justify-content: space-between;
    }
  }


  .call-out:nth-child(1) {}
  .call-out:nth-child(2) {}

  .call-outs-container-report-details {
    max-width: 1400px;
    margin: 0px auto 0 auto;
  }
  
  .call-out-report-details {
    box-sizing: border-box;
  }

  @media (min-width: 900px) {
    .call-outs-container-report-details {
      display: flex;
      justify-content: space-between;
    }
  }



  .equal-height-container-issue {
    margin: 0 auto;
    display: flex;
  }
  
  .first-issue {
    flex: 2;
  }
  
  .second-issue {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  
  .second-a-issue {
    flex: 1;
  }
  
  .second-b-issue {
    flex: 1;
  }


  .call-outs-container-details {
    max-width: 1400px;
    margin: 0px auto 0 auto;
  }
  
  .call-out-details {
    box-sizing: border-box;
    flex-basis: 40%;
  }
  
  @media (min-width: 600px) {
    .call-outs-container-details {
      display: flex;
      justify-content: space-between;
    }
  }
  

  .equal-height-container-issue2 {
    margin: 0 auto;
    display: flex;
  }
  
  .first-issue2 {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .second-issue2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  
  .second-a-issue2 {
    flex: 1;
  }
  
  .second-b-issue2 {
    flex: 1;
  }


  ///////////////////////////

  .label {
    color: white;
    display: inline-block;
    font-family: verdana, sans-serif;
    padding: 4px;
  }
  /*critical*/
  .critical {
    border-color: #FF0039;
    background-color: #FF0039;
  }
  /*high*/
  .high {
    border-color: #FF7518;
    background-color: #FF7518;
  } 
  /*medium*/
  .medium {
    color: #000;
    border-color: #F9EE06; 
    background-color: #F9EE06;
  } 
  /*low*/
  .low {
    border-color: #3FB618; 
    background-color: #3FB618;
  } 
  /*information*/
  .info {
    border-color: #2780E3; 
    background-color: #2780E3;
  } 


  .card-container-right{
    display: inline;
    float: right;
    font-size: 12px;
  }
  
  .card-container-left{
    display: inline;
  }

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    display: inline;
}
.mat-expansion-panel-header-description {
  margin-top: 6px;
}