.example-full-width {
  width: 100%;
}

.banner {
  min-width: 150px;
  display: flex;
}
  
.center-me {
  margin: auto;
}

table {
  width: 100%;
}

.label {
  color: white;
  display: inline-block;
  font-family: verdana, sans-serif;
  padding: 4px;
}
/*critical*/
.critical {
  border-color: #FF0039;
  background-color: #FF0039;
}
/*high*/
.high {
  border-color: #FF7518;
  background-color: #FF7518;
} 
/*medium*/
.medium {
  color: #000;
  border-color: #F9EE06; 
  background-color: #F9EE06;
} 
/*low*/
.low {
  border-color: #3FB618; 
  background-color: #3FB618;
} 
/*information*/
.info {
  border-color: #2780E3; 
  background-color: #2780E3;
} 

.card-container-right{
  display: inline;
  float: right;
  font-size: 12px;
}
  
.card-container-left{
  display: inline;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    display: inline;
}
.mat-expansion-panel-header-description {
  margin-top: 6px;
}

.valign-center {
  display: inline-block;
  vertical-align: text-top;
  align-items: start;
  color: #fff;
}

.valign-issues-center {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.mat-column-date {
  min-width: 120px;
}

.mat-column-desc {
  min-width: 90%;
}

.mat-column-settings {
  text-align: right;
  justify-content: flex-end;
  min-width: 80px;
  max-width: 100px;
}


