
<h1 class="mat-display">
    <mat-icon class="vertical-align-middle size-45">https</mat-icon> Access API Vault
</h1>


<div md-dialog-content>

  <form class="example-form">

    <mat-form-field class="example-full-width" color="accent">
      <input matInput placeholder="API Vault password" #keypass (keydown)="onKeydown($event,keypass.value)" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

  </form>

<div *ngIf="alert != ''">
  <span class="label danger"><mat-icon class="vertical-align-middle padding-bottom-3 size-25">warning</mat-icon> {{alert}}</span><br>
</div>
</div>
<br>
<div md-dialog-actions>
  <div>
    <button mat-flat-button color="accent" (click)="decrypt(keypass.value)">Confirm</button>
    &nbsp;
    <button mat-flat-button color="primary" (click)="cancel()">Cancel</button>
  </div>
</div>