<div class="mdc-card my-card-content">

  <h1 class="mat-display">
      <mat-icon class="vertical-align-middle size-45">https</mat-icon> Access API Vault
  </h1>


  <div>

    <form class="example-form">

      <mat-form-field class="example-full-width" color="accent">
        <input matInput placeholder="API Vault password" #keypass [formControl]="insertkeypass" (keydown)="onKeydown($event,keypass.value)" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

        <mat-error *ngIf="insertkeypass.hasError('incorrect')">
          <strong>
            <mat-icon class="vertical-align-middle size-45">https</mat-icon> Incorrect API Vault password!
          </strong>
        </mat-error>

      </mat-form-field>

    </form>

  <mat-checkbox [checked]="removedialog" (change)="removedialogFunc($event)">Do not show again in this session</mat-checkbox>
  <br><br>
  </div>

  <div md-dialog-actions>
    <div fxLayout="row" fxLayoutGap="10px grid">
      <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="start end">
        <button mat-flat-button color="accent" (click)="decrypt(keypass.value)"><mat-icon>lock_open</mat-icon> Open vault</button>
      </div>
      <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="end start">
        <button mat-flat-button color="primary" (click)="cancel()"><mat-icon>cancel</mat-icon> Cancel</button>
      </div>
    </div>
  </div>

</div>




