.example-full-width {
    width: 100%;
  }

  table {
    width: 100%;
  }

  .label {
    color: white;
    display: inline-block;
    font-family: verdana, sans-serif;
    padding: 4px;
  }
  /*critical*/
  .critical {
    border-color: #FF0039;
    background-color: #FF0039;
  }
  /*high*/
  .high {
    border-color: #FF7518;
    background-color: #FF7518;
  } 
  /*medium*/
  .medium {
    color: #000;
    border-color: #F9EE06; 
    background-color: #F9EE06;
  } 
  /*low*/
  .low {
    border-color: #3FB618; 
    background-color: #3FB618;
  } 
  /*information*/
  .info {
    border-color: #2780E3; 
    background-color: #2780E3;
  } 

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
  }