<h1 class="mat-display-2">
  <mat-icon class="vertical-align-middle padding-bottom-3 size-45">info</mat-icon> About
</h1>

<mat-card>

  <b>Information</b>
  <p>The project is in beta version I apologize if something does not work. The idea was based on the experience of participating in bug bounty programs and in performing penetration tests. I think that the person doing the work of the pentester will appreciate the project :)</p>

  <b>Contributors</b>
  <p>if someone is interested just let me know on twitter.</p>

  <b>Contact</b><br>
  <p><a class="active-link" mat-button target="_blank" href="https://twitter.com/kacperybczynski">twitter.com/kacperybczynski</a></p>

  <br><br>
  <h2>FAQ</h2>
  <p><b>How reports are stored?</b><br>All data are stored in browser (on local machine, nothing is send outside) using indexeddb and SessionStorage, reports by default are encrypted in AES.</p>

  <p><b>How to restore my encrypted report if I forgot my security key?</b><br>Use bruteforce method or better remember the security key, otherwise there is no other option to decrypt data.</p>  

  <p><b>How to create PDF report?</b><br>Download HTML report, open and use 'print to pdf' feature in your browser (ctrl+p): <a target="_blank" class="active-link" href="https://www.google.com/search?q=print%20to%20pdf%20how%20to%20chrome">Chrome</a>/<a target="_blank" class="active-link" href="https://www.google.com/search?q=print%20to%20pdf%20how%20to%20firefox%20browser">FireFox</a>.</p>  

</mat-card>