<h1 class="mat-display-2">
  <mat-icon class="vertical-align-middle padding-bottom-3 size-45">info</mat-icon> About
</h1>

<mat-card>

  <b>Information</b>
  <p>The project is in beta version, I apologize if something does not work.</p>

  <b>Contributors</b>
  <p>if someone is interested I can share source code on github.</p>

  <b>Support the idea</b>
  <p>If you are an investor and you want to invest some money, please contact.<br>
    If you are an investor and you want to invest your time, please contact.</p>

  <b>Contact</b><br>
  <p><a class="active-link" mat-button href="https://twitter.com/kacperybczynski">twitter.com/kacperybczynski</a></p>

</mat-card>