<div class="mdc-card my-card-content">
  @if (col1) {
    <h1 mat-dialog-title>Edit report title</h1>
  }
  @if (col2) {
    <h1 mat-dialog-title>Edit issue title</h1>
  }
  @if (col3) {
    <h1 mat-dialog-title>Remove issue:</h1>
  }
  @if (col4) {
    <h1 mat-dialog-title>Remove event from changelog:</h1>
  }
  @if (col5) {
    <h1 mat-dialog-title>Remove report:</h1>
  }

  <div>
    <div class="example-form" mat-dialog-content>

      @if (col1) {
        <mat-form-field class="example-full-width" color="accent">
          <input [formControl]="reportname" type="text" matInput>
          @if (reportname.hasError('notempty')) {
            <mat-error>
              <strong>Title must not be empty!</strong>
            </mat-error>
          }
        </mat-form-field>
      }

      @if (col2) {
        <mat-form-field class="example-full-width" color="accent">
          <input [formControl]="title" type="text" matInput>
          @if (title.hasError('notempty')) {
            <mat-error>
              <strong>Title must not be empty!</strong>
            </mat-error>
          }
        </mat-form-field>
      }

      @if (col3) {
        <h3>{{data[1].item.title}}</h3>
      }
      @if (col4) {
        <h3>{{data[1].item.desc}}</h3>
      }
      @if (col5) {
        <h3>{{data[1].item.report_name}}</h3>
      }
      @if (col6) {
        <h3>Remove all events from the changelog?</h3>
      }
    </div>
  </div>

  <div mat-dialog-actions>
    @if (col1) {
      <button mat-raised-button color="accent" (click)="changereportname()">Save</button>
    }
    @if (col2) {
      <button mat-raised-button color="accent" (click)="changeissuetitle()">Save</button>
    }
    @if (col5) {
      <button mat-raised-button color="warn" (click)="removeReport(data[1].item)">Remove</button>
    }
    @if (col4) {
      <button mat-raised-button color="warn" (click)="removechangelog(data[1].item)">Remove</button>
    }
    @if (col3) {
      <button mat-raised-button color="warn" (click)="removeissue(data[1].item)">Remove</button>
    }
    @if (col6) {
      <button mat-raised-button color="warn" (click)="removechangelogall()">Remove all</button>
    }
    <button mat-raised-button color="primary" (click)="cancel()">Close</button>
  </div>
</div>