<div class="about-dialog">

  <div class="about-dialog__header" mat-dialog-title>
    <div class="about-dialog__logo-wrap">
      <img src="assets/logo/vulnrepo_logo.png" width="48" height="48" alt="VulnRepo logo" />
    </div>
    <div>
      <h2 class="about-dialog__title">VULNRΞPO</h2>
      <span class="about-dialog__subtitle">About the project</span>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button mat-dialog-close aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider />

  <mat-dialog-content class="about-dialog__body">

    <div class="about-dialog__version">
      <mat-chip-set>
        <mat-chip highlighted color="accent" disableRipple>βeta</mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>commit</mat-icon>
          <a class="active-link" target="_blank" [href]="'https://github.com/kac89/vulnrepo/commit/' + app_ver">
            {{ app_ver_short }}
          </a>
        </mat-chip>
      </mat-chip-set>
    </div>

    <mat-list class="about-dialog__list">
      <mat-list-item>
        <mat-icon matListItemIcon>language</mat-icon>
        <span matListItemTitle>Project</span>
        <a matListItemLine class="active-link" href="https://vulnrepo.com/" target="_blank">vulnrepo.com</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>bug_report</mat-icon>
        <span matListItemTitle>Issues</span>
        <a matListItemLine class="active-link" href="https://github.com/kac89/vulnrepo/issues" target="_blank">Report a bug</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>forum</mat-icon>
        <span matListItemTitle>Feedback</span>
        <a matListItemLine class="active-link" href="https://github.com/kac89/vulnrepo/discussions/new/choose" target="_blank">Discussions</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>Author</span>
        <a matListItemLine class="active-link" href="https://kacperrybczynski.com/" target="_blank">Kacper Rybczyński</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListItemIcon>gavel</mat-icon>
        <span matListItemTitle>License</span>
        <a matListItemLine class="active-link" href="https://github.com/kac89/vulnrepo/blob/master/LICENSE" target="_blank">Apache-2.0</a>
      </mat-list-item>
    </mat-list>

  </mat-dialog-content>

</div>
