<mat-card appearance="outlined">
    <mat-card-header>
      <mat-icon mat-card-avatar class="vertical-align-middle padding-bottom-3 size-45">info</mat-icon>
      <mat-card-title>VULNRΞPO</mat-card-title>
      <mat-card-subtitle>About the project</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="10px grid">
            <div fxLayoutAlign="center center" fxFlex="30%" fxFlex.sm="100%" fxFlex.xs="100%">
                <img style="margin-right: 15px;" width="135px" src="assets/logo/vulnrepo_logo.png">
            </div>
            <div fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%">
                
                <h2>Project WWW: <a title="Project WWW vulnrepo.com" target="_blank" class="active-link" href="https://vulnrepo.com/">vulnrepo.com</a></h2>

                <p><b>Version: βeta </b> <a title="Version Rev ID: {{app_ver}}" target="_blank" class="active-link" href="https://github.com/kac89/vulnrepo/commit/{{app_ver}}">{{app_ver_short}}</a></p>
                <p><b>Found an issue? </b> <a title="Report issue link" target="_blank" class="active-link" href="https://github.com/kac89/vulnrepo/issues">Report here</a></p>
                <p><b>Send your feedback! </b> <a title="Discussions link" target="_blank" class="active-link" href="https://github.com/kac89/vulnrepo/discussions/new/choose">Discussions</a></p>

                <p><b>Author: </b> <a title="Author link kacperrybczynski.com" target="_blank" class="active-link" href="https://kacperrybczynski.com/">Kacper Rybczyński</a></p>
                <p><b>License: </b> <a title="License link" target="_blank" class="active-link" href="https://github.com/kac89/vulnrepo/blob/master/LICENSE">Apache-2.0</a></p>
            </div>
        </div>
        <p>
            <button mat-raised-button color="primary" (click)="closedialog()">Close</button>
        </p>
        
    </mat-card-content>
  </mat-card>