.example-full-width {
  width: 100%;
}
.example-label-container {
  display: flex;
  width: 100%;
}

.example-result-card .example-value-label {
  font-weight: 600;
}

.example-margin {
  margin: 8px;
}

.example-width {
  max-width: 520px;
  width: 100%;
}