<div mat-dialog-title class="example-full-width">
    <h2>AI settings</h2>
</div>

<mat-dialog-content class="mat-typography">

    <p>Selected model: {{aiselectedValue}} </p>

    <mat-form-field color="accent" class="example-full-width">
        <mat-label>Model</mat-label>
        <mat-select [(ngModel)]="aiselectedValue" name="ai_tags" (selectionChange)="selectcmodel($event)">
          @for (item of ai_tags; track item) {
            <mat-option [value]="item.model">{{item.name}}</mat-option>
          }
        </mat-select>
        
      </mat-form-field>

    <div class="example-label-container">
        <label id="example-name-label" class="example-name-label">Temperature:</label>&nbsp;
        <label class="example-value-label">{{temperature}}</label>
    </div>
    <mat-slider color="accent" class="example-width" [max]="2" [min]="0" [step]="0.1">
        <input matSliderThumb [(ngModel)]="temperature" (change)="savetemp()">
    </mat-slider>

<div>
    <mat-form-field color="accent" class="example-full-width" >
        <mat-label>Default chat prompt</mat-label>
        <textarea [formControl]="defaultprompt" matInput placeholder="Ex. You are a helpful assistant." (change)="savedef()"></textarea>
      </mat-form-field>
</div>


</mat-dialog-content>

<mat-dialog-actions>


    <button mat-raised-button color="primary" mat-dialog-close>Close</button>

</mat-dialog-actions>