table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell:first-child,.mat-cell:first-child{
  flex:5%;
}
.mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
  flex:70%;
}
.mat-header-cell:nth-child(3),.mat-cell:nth-child(3){
  flex:25%;
}
.mat-header-cell:nth-child(4),.mat-cell:nth-child(4){
  flex:25%;
}
.mat-header-cell:last-child,.mat-cell:last-child{
  flex:15%
}
