<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span style="display: contents;">
      <img style="margin-right: 15px;" width="35px" src="assets/logo/vulnrepo_logo.png"> 
      
      <span class="neon flash">VULNRΞPO<span>VULNRΞPO</span></span>
    </span>
    <div *ngIf="show_status" class="title-center">

      <div *ngIf="enc_status">
        <mat-icon class="vertical-align-middle padding-bottom-3 decrypted-color" matSuffix>no_encryption</mat-icon> Report is decrypted.
      </div>
      <div *ngIf="!enc_status"><mat-icon class="vertical-align-middle padding-bottom-3 encrypted-color" matSuffix>lock</mat-icon> Report is encrypted.</div>

    </div>
    
    <span class="example-fill-remaining-space" *ngIf="!show_status"></span>

    <div style="align-items: center;display: flex;" fxShow="true" fxHide.lt-md="true">
      <a routerLink="/home" style="padding: 12px;" routerLinkActive="active-link" href="/home" mat-button>
        <mat-icon class="vertical-align-middle padding-bottom-3">home</mat-icon>
        Home
      </a>

      <a routerLink="/my-reports" style="padding: 12px;" routerLinkActive="active-link" href="/my-reports" mat-button>
        <mat-icon class="vertical-align-middle padding-bottom-3">list_alt</mat-icon>
        My Reports
      </a>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <a routerLink="/new-report" routerLinkActive="active-link" href="/new-report" mat-menu-item>
          <mat-icon class="vertical-align-middle padding-bottom-3">add_circle_outline</mat-icon> Create new report
        </a>

        <a routerLink="/import-report" routerLinkActive="active-link" href="/import-report" mat-menu-item>
          <mat-icon class="vertical-align-middle padding-bottom-3">playlist_add</mat-icon> Import report
        </a>

        <a routerLink="/templates-list" routerLinkActive="active-link" href="/templates-list" mat-menu-item>
          <mat-icon class="vertical-align-middle padding-bottom-3">bug_report</mat-icon>
          Templates List
        </a>

        <a routerLinkActive="active-link" mat-menu-item [matMenuTriggerFor]="methods">
          <mat-icon class="vertical-align-middle padding-bottom-3">library_books</mat-icon>
          Methodology
        </a>

        <a routerLink="/settings" routerLinkActive="active-link" href="/settings" mat-menu-item>
          <mat-icon class="vertical-align-middle padding-bottom-3">settings</mat-icon>
          Settings
        </a>
        <a routerLink="/faq" routerLinkActive="active-link" href="/faq" mat-menu-item>
          <mat-icon class="vertical-align-middle padding-bottom-3">live_help
          </mat-icon>
          FAQ
        </a>

        <button mat-menu-item (click)="goAbout()"><mat-icon class="vertical-align-middle padding-bottom-3">info</mat-icon> About</button>

        <div *ngIf="show_active_reports">

          <button mat-menu-item disabled>
            <mat-icon>remove</mat-icon>
          </button>

          <button mat-menu-item disabled>
            <mat-icon>lock_open</mat-icon>
            <span>Active open reports</span>
          </button>

          <span *ngFor="let activreport of arr_oreports">
            <a [routerLink]="['/report', activreport.report_id]" routerLinkActive="active-link" mat-menu-item>
              <mat-icon class="vertical-align-middle padding-bottom-3">lock_open</mat-icon><mat-icon color="accent" *ngIf="activreport.report_source == 'api'" class="vertical-align-middle padding-bottom-3">public</mat-icon> {{activreport.report_name}}
            </a>

          </span>

        </div>

      </mat-menu>

      <mat-menu #methods="matMenu" xPosition="after" yPosition="above">
        <a routerLink="/asvs4" routerLinkActive="active-link" href="/asvs4" mat-menu-item>
          <mat-icon class="vertical-align-middle padding-bottom-3">description</mat-icon>
          ASVS 4.0.3
        </a>
        <a routerLink="/pcidss4" routerLinkActive="active-link" href="/pcidss4" mat-menu-item>
          <mat-icon class="vertical-align-middle padding-bottom-3">description</mat-icon>
          PCI DSS v4.0 Auditor
        </a>
        <a routerLink="/tbhm" routerLinkActive="active-link" href="/tbhm" mat-menu-item>
          <mat-icon class="vertical-align-middle padding-bottom-3">description</mat-icon>
          TBHM - Fast Testing Checklist
        </a>
      </mat-menu>

      <a target="_blank" fxLayoutAlign="center start" href="https://github.com/kac89/vulnrepo" style="padding: 0px;" title="Visit project on github.com" mat-button>
        <img src="./assets/github.png" style="height: 32px;width: 32px;">
      </a>

      <a target="_blank"  href="https://x.com/vulnrepo" title="Follow project on X" style="padding: 0px;padding-top: 10px;" mat-button>
        <img src="./assets/X.svg" style="width: 64px;">
      </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a routerLink="/home" routerLinkActive="active-link" href="/home" mat-menu-item>
        <mat-icon class="vertical-align-middle padding-bottom-3">home</mat-icon>
        Home
      </a>
      <a routerLink="/my-reports" routerLinkActive="active-link" href="/my-reports" mat-menu-item>
        <mat-icon class="vertical-align-middle padding-bottom-3">list_alt</mat-icon>
        My Reports
      </a>
      <a routerLink="/new-report" routerLinkActive="active-link" href="/new-report" mat-menu-item>
        <mat-icon class="vertical-align-middle padding-bottom-3">add_circle_outline</mat-icon> Create new report
      </a>
      <a routerLink="/import-report" routerLinkActive="active-link" href="/import-report" mat-menu-item>
        <mat-icon class="vertical-align-middle padding-bottom-3">playlist_add</mat-icon> Import report
      </a>
      <a routerLink="/templates-list" routerLinkActive="active-link" href="/templates-list" mat-menu-item>
        <mat-icon class="vertical-align-middle padding-bottom-3">bug_report</mat-icon>
        Templates List
      </a>
      <a routerLinkActive="active-link" mat-menu-item [matMenuTriggerFor]="methods">
        <mat-icon class="vertical-align-middle padding-bottom-3">help</mat-icon>
        Methodology
      </a>
      <a routerLink="/settings" routerLinkActive="active-link" href="/settings" mat-menu-item>
        <mat-icon class="vertical-align-middle padding-bottom-3">settings</mat-icon>
        Settings
      </a>
      <a routerLink="/faq" routerLinkActive="active-link" href="/faq" mat-menu-item>
        <mat-icon class="vertical-align-middle padding-bottom-3">info</mat-icon>
        FAQ
      </a>
      <button mat-menu-item (click)="goAbout()"><mat-icon class="vertical-align-middle padding-bottom-3">info</mat-icon> About</button>
      <a (click)="sidenav.toggle()" mat-menu-item>
        <mat-icon>close</mat-icon> Close
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>