
table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
}