<h1 mat-dialog-title>Import issues from:</h1>
<div mat-dialog-content>

  <mat-tab-group>
    <mat-tab label="Tenable Nessus (CSV)"><br>
      <div class="form-group">
        <input *ngIf="show_input" cdkFocusInitial type="file" accept=".csv" (change)="onFileSelect($event.target)" name="myfile">
        <p *ngIf="please_wait">Please wait...</p>
      </div>
    </mat-tab>

    <mat-tab label="Burp Suite (XML)"><br>
      <div class="form-group">
        <input *ngIf="burpshow_input" cdkFocusInitial type="file" accept=".xml" (change)="burponFileSelect($event.target)" name="myfile">
        <p *ngIf="burpplease_wait">Please wait...</p>
      </div>
    </mat-tab>
  </mat-tab-group>

  <br><button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
</div>