<div mat-dialog-title fxLayout="row wrap" fxLayoutGap="10px grid" class="example-full-width">
  <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="start center">
    <h2 style="padding-left: 10px;">AI assistant</h2>
  </div>
  <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="end center">
    <button color="warn" *ngIf="aiconnected" mat-button (click)="clearmsg()"><mat-icon>delete_forever</mat-icon>Remove chat</button>
  </div>
</div>

<mat-dialog-content class="mat-typography" id="chat">

<div *ngIf="!aiconnected" class="example-full-width">
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>


<div class="example-full-width" *ngIf="aiconnected">
      
  @for (item of chatmsg; track item) {
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header style="align-self: last baseline;">
        <div mat-card-avatar class="header-image-ai"></div>
        <mat-card-title>You</mat-card-title>
        <mat-card-subtitle>Date: {{item.date | date:'medium'}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content style="color: white;">
        <p>
          {{item.question}}
        </p>

        <div>    
          <mat-list>
            @for (item of item.files; track item) {
              <mat-list-item style="max-width:400px;">
                {{item.filename}} 
              </mat-list-item>
            }
           </mat-list>       
        </div>

        <p>
          @for (item of item.images; track item) {
            <img src="{{item}}" width="100px">
          }
        </p>


      </mat-card-content>
    </mat-card>

  <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-icon mat-card-avatar class="vertical-align-middle padding-bottom-3 size-45">account_circle</mat-icon>
        <mat-card-title>AI</mat-card-title>
        <mat-card-subtitle>Model: {{item.model}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content style="color: white;">

        <mat-progress-bar color="accent" *ngIf="item.response == ''" mode="indeterminate"></mat-progress-bar>

        <div [innerHtml]="saniteizeme(item.response)"></div>

      </mat-card-content>

    </mat-card>

    <br>
  }



</div>
</mat-dialog-content>

<div style="padding: 10px;" *ngIf="aiconnected">
  <mat-form-field color="accent" class="example-full-width" appearance="outline">
    <mat-label>Ask anything</mat-label>
    <textarea matInput [formControl]="questioninput" cdkFocusInitial></textarea>
    <mat-error *ngIf="questioninput.hasError('notempty')">
      <strong>Please provide some data!</strong>
    </mat-error>
  </mat-form-field>
</div>

<div style="padding: 20px;">
  @for (item of attachedIMG; track item) {


    <div style="position:relative">    
      <img src="{{item}}" width="100px">
      <div style="position:absolute;left:-10px;top:-20px;">
        <button mat-icon-button (click)="removeAttach()" title="Remove image">
          <mat-icon color="warn">delete_forever</mat-icon>
        </button>
      </div>
    </div>
    
  }

  @for (item of attachedFILES; track item) {


    <div>    
      <mat-list>
        <mat-list-item style="max-width:400px;">

          <button mat-icon-button (click)="removeAttachfile()" title="Remove file">
            <mat-icon color="warn">delete_forever</mat-icon>
          </button>

          {{item.filename}} 
        </mat-list-item>
       </mat-list>       
      
    </div>
    
  }

</div>

<mat-dialog-actions *ngIf="aiconnected">

  <div fxLayout="row wrap" fxLayoutGap="0px grid" class="example-full-width">
    <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="start center">

      <div style="padding: 10px;">

        <button mat-icon-button style="padding: 0px;" (click)="opensettings()" title="Settings" >
          <mat-icon>settings</mat-icon>
        </button>

        <button mat-icon-button style="padding: 0px;" (click)="attachimg.click()"  title="Attach image" *ngIf="attachedIMG.length == 0">
          <mat-icon>image</mat-icon>
        </button>
        <input hidden type="file" accept="image/*" #attachimg (change)="onImageSelect($event.target)" name="myimages" />

        <button mat-icon-button style="padding: 0px;" title="Attach file" (click)="attachfile.click()" >
          <mat-icon>attach_file</mat-icon>
        </button>
        <input hidden type="file" accept="*/*" #attachfile (change)="onFileSelect($event.target)" name="myfiles" multiple/>

      </div>



    </div>
    <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="end center">
      
      <button mat-raised-button (click)="sendmsg()" color="accent">Send</button>
      <button mat-raised-button mat-dialog-close>Close</button>
    </div>
  </div>

</mat-dialog-actions>
