<div mat-dialog-title fxLayout="row wrap" fxLayoutGap="10px grid" class="example-full-width">
  <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="start center">
    <h2 style="padding-left: 10px;">AI assistant</h2>
  </div>
  <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="end center">
    <button *ngIf="aiconnected" mat-button (click)="clearmsg()"><mat-icon>delete_forever</mat-icon>Remove chat</button>
  </div>
</div>

<mat-dialog-content class="mat-typography" id="chat">

<div *ngIf="!aiconnected" class="example-full-width">
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>


<div class="example-full-width" *ngIf="aiconnected">
      
  @for (item of chatmsg; track item) {
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header style="align-self: last baseline;">
        <div mat-card-avatar class="header-image-ai"></div>
        <mat-card-title>You</mat-card-title>
        <mat-card-subtitle>Date: {{item.date | date:'medium'}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content style="color: white;">
        <p>
          {{item.question}}
        </p>
      </mat-card-content>
    </mat-card>

  <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-icon mat-card-avatar class="vertical-align-middle padding-bottom-3 size-45">account_circle</mat-icon>
        <mat-card-title>AI</mat-card-title>
        <mat-card-subtitle>Model: {{item.model}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content style="color: white;">

        <mat-progress-bar color="accent" *ngIf="item.response == ''" mode="indeterminate"></mat-progress-bar>

        <div [innerHtml]="saniteizeme(item.response)"></div>

      </mat-card-content>

    </mat-card>

    <br>
  }



</div>
</mat-dialog-content>

<div style="padding: 10px;" *ngIf="aiconnected">
  <mat-form-field color="accent" class="example-full-width">
    <mat-label>Ask anything</mat-label>
    <textarea matInput [formControl]="questioninput" cdkFocusInitial></textarea>
    <mat-error *ngIf="questioninput.hasError('notempty')">
      <strong>Please provide some data!</strong>
    </mat-error>
  </mat-form-field>
</div>

<mat-dialog-actions *ngIf="aiconnected">

  <div fxLayout="row wrap" fxLayoutGap="0px grid" class="example-full-width">
    <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="start center">

      <mat-form-field color="accent">
        <mat-label>Model</mat-label>
        <mat-select [(ngModel)]="aiselectedValue" name="ai_tags" (selectionChange)="selectcmodel($event)">
          @for (item of ai_tags; track item) {
            <mat-option [value]="item.model">{{item.name}}</mat-option>
          }
        </mat-select>
        
      </mat-form-field>
    </div>
    <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="end center">
      
      <button mat-raised-button (click)="sendmsg()" color="accent">Send</button>
      <button mat-raised-button mat-dialog-close>Close</button>
    </div>
  </div>

</mat-dialog-actions>
