/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@import 'material-design-icons/iconfont/material-icons.css';

$my-typography: mat.m2-define-typography-config($font-family: 'Roboto,Helvetica Neue,sans-serif',
  );

$primary: mat.m2-define-palette(mat.$m2-grey-palette, 900);
$accent: mat.m2-define-palette(mat.$m2-green-palette, A200, A100, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette, 900);

$dark-theme: mat.m2-define-dark-theme((color: (primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
      typography: $my-typography,
      density: 0,
    ));

:root {

  @include mat.all-component-themes($dark-theme);
  @include mat.all-component-typographies($my-typography);
  @include mat.typography-hierarchy($my-typography);

}

@include mat.elevation-classes();
@include mat.app-background();
// custom css

body,
html {
  height: 100vh;
}

body {
  margin: 0;
  color: white;
  background-color: #000;
  overflow-y: hidden;

}

.my-card-content {
  padding: 16px;
}

.container {
  max-width: 1200px;
  margin: 20px auto 0 auto;
  padding: 30px;
}

.mat-drawer-container {
  background-color: #000;
  color: white;
}


.column-layout {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}

.main-column {
  flex: 3;
  order: 1;
}

.sidebar-one {
  flex: 1;
  order: 2;
}

.sidebar-two {
  flex: 1;
  order: 3;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.vertical-align-middle {
  vertical-align: middle;
}

.padding-bottom-3 {
  padding-bottom: 3px;
}


.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
}



///mat-button routerLinkActive
.active-link {
  color: mat.m2-get-color-from-palette($accent) !important;
}


mat-icon.size-45 {
  font-size: 45px;
  height: 45px;
  width: 45px;
}




#inner {
  display: inline-block;
}




.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}



/////////////////////// marked highlight dark theme start
pre code.hljs {
  display: block;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
  word-wrap: break-word;
}


.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-symbol {
  color: #569cd6
}

.hljs-link {
  color: #569cd6;
  text-decoration: underline
}

.hljs-built_in,
.hljs-type {
  color: #4ec9b0
}

.hljs-class,
.hljs-number {
  color: #b8d7a3
}

.hljs-meta .hljs-string,
.hljs-string {
  color: #d69d85
}

.hljs-regexp,
.hljs-template-tag {
  color: #9a5334
}

.hljs-formula,
.hljs-function,
.hljs-params,
.hljs-subst,
.hljs-title {
  color: #dcdcdc
}

.hljs-comment,
.hljs-quote {
  color: #57a64a;
  font-style: italic
}

.hljs-doctag {
  color: #608b4e
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-tag {
  color: #9b9b9b
}

.hljs-template-variable,
.hljs-variable {
  color: #bd63c5
}

.hljs-attr,
.hljs-attribute {
  color: #9cdcfe
}

.hljs-section {
  color: gold
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

.hljs-bullet,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #d7ba7d
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%
}

pre.hljs code {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  .code-line {
    padding-left: 7px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: break-spaces;
  }
  .line-number {
    min-width: 22px;
    text-align: left;
    width: 1%;
    color: #ccc;
    border-right: 1px solid #16bf6e;
  }
}

/////////////////////// marked highlight end

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
.mat-card-header-text {
  width: 100% !important;
}

.example-custom-placeholder {
  background: rgb(41, 41, 41);
  border: dotted 3px rgb(43, 42, 42);
  min-height: 50px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.notify-snackbar-success {
  --mdc-snackbar-container-color: #69f0ae;
  --mat-mdc-snack-bar-button-color: #000;
  --mdc-snackbar-supporting-text-color: #000;
}

.notify-snackbar-fail {
  --mdc-snackbar-container-color: #b71c1c;
  --mat-mdc-snack-bar-button-color: #000;
  --mdc-snackbar-supporting-text-color: #000;
}

.mdc-list-item--selected .mdc-list-item__primary-text,
.mdc-list-item--activated .mdc-list-item__primary-text {
  color: #69f0ae;
}

::ng-deep.mat-drawer-container {
  background-color: #000 !important;
}

.tablemd {
  width: 100%;
  border: 0px;
  border-collapse: collapse;
  border: 1px solid #4a4a4a;
}

thead.tablemd {
  border: 1px solid #4a4a4a;
  background-color: #4a4a4a;
  padding: 8px;
}

.tableb {
  border: 1px solid #4a4a4a;
  padding: 8px;
}

.titlepad {
  padding-left: 10px;
}

blockquote p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

.mdc-typography--body1 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .03125em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
}

.mat-sidenav-content {
  background-color: #000 !important;
}