<h1 class="mat-display-2"># Create vulnerability reports like a PRO!!!</h1>
<div fxLayout="row" fxLayout.xs="column" style="text-align: center;">
  <div fxFlex="100%;" fxFlex.xs="80%" fxLayoutAlign="center center">
   <a routerLink="/new-report" href="/new-report" mat-raised-button color="accent"><mat-icon class="vertical-align-middle padding-bottom-3">add</mat-icon> Create new report!</a>
 </div>
 </div>
 <br>
<mat-card>
  <p>VULNRΞPO is a free open source project designed to speed up the creation of IT Security vulnerability reports.<br>Focus on
    research, spend time on research NOT on the report form!</p>


  <div class="row">
    <div class="column">
      <h2>Feature list</h2>

      <mat-card class="mat-elevation-z9">
        <h3>
          <mat-icon class="vertical-align-middle padding-bottom-3">security</mat-icon> Security
        </h3>
        <p>Project use browser for encrypt/decrypt (AES) & store in local. Full confidentiality of data, nothing is sent
          out. No backend system, only front-end technology.</p>
      </mat-card>
      <br>
      <mat-card class="mat-elevation-z9">
        <h3>
          <mat-icon class="vertical-align-middle padding-bottom-3">share</mat-icon> Share report
        </h3>
        <p>You can share your report using AES encryption by default.</p>
      </mat-card>
      <br>
      <mat-card class="mat-elevation-z9">
        <h3>
          <mat-icon class="vertical-align-middle padding-bottom-3">cloud_download</mat-icon> TXT & HTML & PDF
        </h3>
        <p>You can download report in TXT, HTML formats!. If you need PDF just 'print as PDF' html report.</p>
      </mat-card>
      <br>
      <mat-card class="mat-elevation-z9">
        <h3>
          <mat-icon class="vertical-align-middle padding-bottom-3">attach_file</mat-icon> Attachments
        </h3>
        <p>You can easly attach any file you want to. Screenshot, movie or scanner output in txt.</p>
      </mat-card>


    </div>


    <div class="column">
      <h2>&nbsp;</h2>
      <mat-card class="mat-elevation-z9">
        <h3>
          <mat-icon class="vertical-align-middle padding-bottom-3">info</mat-icon> Use custom issues templates!
        </h3>
        <p>The use of templates greatly speeds up the work for pentester or security auditor.</p>
      </mat-card>
      <br>
      <mat-card class="mat-elevation-z9">
        <h3>
          <mat-icon class="vertical-align-middle padding-bottom-3">info</mat-icon> Import issues from security scanners
        </h3>
        <p>After importing, easily manage and edit vulnerabilities.</p>
      </mat-card>
      <br>
      <mat-card class="mat-elevation-z9">
        <h3>
          <mat-icon class="vertical-align-middle padding-bottom-3">track_changes</mat-icon> Changelog
        </h3>
        <p>All important changes in report will be logged in to changelog and update to the next version of the report.
        </p>
      </mat-card>
      <br>
      <mat-card class="mat-elevation-z9">
        <h3>
          <mat-icon class="vertical-align-middle padding-bottom-3">import_export</mat-icon> Export Issues
        </h3>
        <p>You can export issues to popular bugtrackers like Atlassian JIRA.
        </p>
      </mat-card>
    </div>
    
  </div>


  <br>
</mat-card>