<h1 mat-dialog-title>Add Issue (<a class="active-link" href="/vuln-list" routerLink="/vuln-list" (click)="redir()">Vulnerability List</a>)</h1>
<div mat-dialog-content>

  <div class="example-form">
      <mat-form-field class="example-full-width" color="accent">
        <input type="text" matInput placeholder="e.g: XSS, SQL, RCE vulnerability or custom issue" aria-label="Number" [formControl]="myControl" #issue [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.title">
              {{option.title}}
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>
    </div>

    {{err_msg}}
</div>
<div mat-dialog-actions>
  <button mat-raised-button cdkFocusInitial color="accent" (click)="addIssue(issue.value)">Add</button>
  &nbsp;
  <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
</div>




