* {
    box-sizing: border-box;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 49%;
    padding: 10px;
    margin: 4px;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .mat-mdc-header-cell:first-child,.mat-mdc-cell:first-child{
    flex:40%;
  }
  .mat-mdc-header-cell:nth-child(2),.mat-mdc-cell:nth-child(2){
    flex:5%;
  }
  .mat-mdc-header-cell:nth-child(3),.mat-mdc-cell:nth-child(3){
    flex:5%;
  }
  .mat-mdc-header-cell:nth-child(4),.mat-mdc-cell:nth-child(4){
    flex:5%;
  }
  .mat-mdc-header-cell:nth-child(5),.mat-mdc-cell:nth-child(5){
    flex:40%;
  }
  .mat-mdc-header-cell:last-child,.mat-mdc-cell:last-child{
    flex:5%;
    text-align: right;
    justify-content: flex-end;
  }
  